<footer>
    <section class="left">
        <div id="next_page">
            <ul></ul>
        </div>
        <h1>© 2020 {{developerName}}</h1>
        <p>{{messages.license}}</p>
    </section>
    <section id="social" class="right">
        <div class="title">
            <h1>{{messages.ourCommunitys}}:</h1>
        </div>
        <div class="l2logo">
            <h1 class="logo">{{messages.serverName}}</h1>
            <p class="logo">{{messages.slogan}}</p>
        </div>
        <div class="social_list">
            <ul>
                <li>
                    <div>FB</div>
                    <a>facebook.com/<span>{{developerName}}</span></a>
                </li>
                <li>
                    <div>TW</div>
                    <a>twitter.com/<span>{{developerName}}</span></a>
                </li>
            </ul>
        </div>
    </section>
</footer>